<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AWWMS - Dashboard</title>
    <link rel="stylesheet" href="../assets/style/style.css" />
  </head>
  <body>
    <div class="container">
      <div id="left">
        <h1 id="current_page_title">Admin Dashboard</h1>
        <ul id="navbar">
          <li class="navbar_links"><a href="index.html">Dashboard</a></li>
          <li class="navbar_links"><a href="users.html">Users</a></li>
          <li class="navbar_links"><a href="areas.html">Areas</a></li>
          <li class="navbar_links">
            <a href="distribution.html">Distribution</a>
          </li>
          <li class="navbar_links"><a href="monitoring.html">Monitoring</a></li>
          <li class="navbar_links"><a href="billing.html">Billing</a></li>
          <li class="navbar_links"><a href="complaints.html">Complaints</a></li>
        </ul>
      </div>

      <div id="right">
        <h1 id="PageTitle">Area Wise Water Management System</h1>

       

        <div class="dashboard_section">
          <h1>Quick Actions</h1>
          <div id="action-card">
            <h3>User</h3>
            <a href="users_addNew.html">Add New User</a>
            <a href="users_ShowbyArea.html">Show by Area</a>
            <a href="users.html">All Users</a>
          </div>
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
