<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AWWMS</title>
    <link rel="stylesheet" href="selectlog.css" />
</head>
<body>
    <div class="wrapper">
        <h1>Select Login</h1>

        <div class="button-container">
            <form action="adminlog.html" method="get">
                <button type="submit">Admin</button>
            </form>
        </div>

        <div class="button-container">
            <form action="userlog.html" method="get">
                <button type="submit">User</button>
            </form>
        </div>
        <div class="button-container">
        </div>

    </div>
</body>
</html>
