<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AWWMS - Monitoring</title>
    <link rel="stylesheet" href="../assets/style/style.css">
  </head>
  <body>
    <div class="container">
        <div id="left">
          <h1 id="current_page_title">Monitoring</h1>
            <ul id="navbar">
              <li class="navbar_links"><a href="index.html">Dashboard</a></li>
              <li class="navbar_links"><a href="users.html">Users</a></li>
              <li class="navbar_links"><a href="areas.html">Areas</a></li>
              <li class="navbar_links"><a href="distribution.html">Distribution</a></li>
              <li class="navbar_links"><a href="monitoring.html">Monitoring</a></li>
              <li class="navbar_links"><a href="billing.html">Billing</a></li>
              <li class="navbar_links"><a href="complaints.html">Complaints</a></li>
            </ul>
          </div>
          <div id="right">
            <nav>
              <h1 id="PageTitle">Area Wise Water Management System</h1>
              <a href="monitoring_HighUsageAreas.html">High Usage Areas</a>
              <a href="monitoring_showallmonitoring.html">Monitored Areas</a>
              <a href="M_Addmonitoring.html">Add Monitoring</a>
            </nav>
          </div> <!-- closes #right -->
      
        </div> <!-- closes .container -->
      </body>
  </html>